body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.headline {
  background-color: teal;
  overflow: auto;
}

.blog {
  height: 100vh;
  background-color: green;
}

.grid {
  background-color: magenta;
  overflow: auto;
}

.grid--profile {
  background-color: white;
  width: calc(100% / 3);
  border: gray .1rem solid;
  float; left;
}

.grid--profile__title {
  overflow: auto;
}

.photo-left {
  display: inline-block;
  float: left;
}

.name-right {
  display: inline-block;
  float: right;
}

.goatpic {
  height: 8rem;
  border-radius: 80%;
}
