body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

.headline {
  background-color: teal;
  overflow: auto;
}

.blog {
  height: 100vh;
  background-color: green;
}

.grid {
  background-color: white;
}

.grid--profile {
  background-color: magenta;
}

.goatpic {
  height: 8rem;
  border-radius: 50%;
}
