body {
  margin: 0;
  font-family: sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: white;
}

.headline {
  background-color: #1fadcc;
  overflow: auto;
  padding: 0 4rem;
}

.container {
  /*background: orange;*/
  max-width: 65rem;
  margin: 0 auto;
}

.top-nav {
  overflow: auto;
  color: white;
}

.headline--title {
  float: left;
  line-height: 3rem;
  margin: 0;
}

.top-nav__right {
  float: right;
  line-height: 3rem;
  margin: 0;
}

.top-nav__item {
  /*background: white;*/
  display: inline-block;
  text-decoration: none;
  /*color: #482e78;*/
}

.blog {
  height: 100vh;
  background-color: green;
}

.grid {
  /*background-color: magenta;*/
  overflow: auto;
}

.grid--profile {
  background-color: white;
  width: calc(100% / 3);
  border: gray .1rem solid;
  float; left;
}

.grid--profile__title {
  overflow: auto;
  padding: .5rem;
}

.photo-left {
  display: inline-block;
  float: left;
}

.name-right {
  display: inline-block;
  float: left;
  margin: 0 .5rem;
  padding: 0;
}

.goatpic {
  height: 8rem;
  border-radius: 0.4rem;
}

.name {
  margin: 0;
  font-size: 1.4rem;
  font-weight: 400;
  color: #303030;
}

.username {
  margin: 0;
  color: #707070
}
